.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #d1d5db;
  border-radius: 0px;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #00715a;
  border-color: #00715a;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  /* top: px; */
  left: 3.4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}